/* ------------ catalog --------------- */
.catalog {
	display: flex;
    align-items: center;
	padding-top: 100px;
}

.catalog-wrap {
	display: flex;
	flex-direction: column;	
	align-items: center;
}

/*.title-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: 30px 0;
    &__title-topic {
		@extend h2;
        font-size: 40px;
        margin-bottom: 0;
    } 
    &__title-border {
    	width: 100px;
    	margin-top: 10px;
    	margin-bottom: 10px;
    	border-bottom: 1px solid $orange;
    }   
}*/

.catalog-list {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.section-title h4 {
	font-size: 1.3rem;
}

.section-title {
	margin-bottom: 2rem;
}

  /*  productFitler*/
.filter-container {
	display: flex;
    flex-direction: column;
    width: 80%;
	padding: 2rem 0;
}
.filter-form {
	display: flex;
    justify-content: space-between;
}
.form-group {
	//text-transform: capitalize;
}




@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
	  width: 270px;
	  height: 10px;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
	  margin-top: -1px;
	  margin-left: -4px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -100px 0 0 100px #43e5f7;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}






.form-group label {
	display: block;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 0.5rem;
}
.form-control {
	width: 100%;
	//background: transparent;
	font-size: 1rem;
}

.input-checkbox {
	display: flex;
    align-items: flex-end;
}

.size-input {
	width: 40%;
	padding: 0.2rem;
	border: 1px solid var(--mainBlack);
	border-radius: 0.3rem;
	margin-right: 0.3rem;
}
.product-extra label {
	margin-bottom: 0.0rem;
	font-size: 0.8rem;
	margin-left: 0.5rem;
}

.product-extra {
	display: flex;
    align-items: center;
	margin-bottom: 0.6rem;
}

@media screen and (min-width: 776px) {
	.filter-form {
		
	}
}
@media screen and (min-width: 992px) {
	.filter-form {
		
	}
}
/* end of productFitler*/

/* productlist */
.productslist {
	padding: 5rem 0;
}
.productslist-center {
	width: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 30px;
}
  
@media screen and (min-width: 776px) {
	.productslist-center {
		width: 90vw;
	}
}
@media screen and (min-width: 992px) {
	.productslist-center {
		width: 95vw;
		max-width: 1170px;
	}
}
  /* end of productlist */


.collection {
	max-width: 50%;
	display: flex;
	justify-content: center;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    border-radius: 5px;
	border: 1px solid rgba(130, 136, 147, 0.3);
    &__type {
    	display: flex;
		flex-direction: column;
    	align-items: center;
        img {
        	width: 80%;
        }
	    
	}
}

.type-name {
	@extend a;
	padding: 0 10px 20px;
}



/* ------ media query ------ */
@include desktop {
	.catalog-title {
		margin-top: 0;
	    &__catalog-topic {
	        font-size: 36px;
	    }    
	}
	.collection { 
	    &__type {
		    img {
		    	width: 75%;
	        }
		    &_table-name {
		    	font-size: 14px;
		    }
		}
	}
	.type-name {
		font-size: 14px;
	}
}
@include laptop {
	.catalog-title {
		margin-top: 0;
		&__catalog-topic {
		    font-size: 28px;
		}
	}
	.collection { 
		max-width: 45%;
	    &__type {
		    img {
	    		width: 75%;
	        }
		    &_table-name {
		    	font-size: 14px;
		    }
		}
	}
    .type-name {
		font-size: 16px;
	}
}
@include tablet {
	.catalog-title {
		margin-top: 0;
		&__catalog-topic {
		    font-size: 28px;
		}
	}
	.catalog-list {
	    flex-direction: column;
	    align-items: center;
	}
	.collection { 
		max-width: 75%;
	}
    .type-name {
		font-size: 16px;
	}
}
@include tablet-mini {
    .catalog-title {
		margin: 0;
		&__catalog-topic {
		    font-size: 24px;
		}
	}
	.collection { 
		max-width: 75%;
	    &__type {
	    	width: 85%;
		    img {
	        }
		    &_table-name {
		    	font-size: 14px;
		    }
		}
	}
	.catalog-list {
	    flex-direction: column;
	    align-items: center;
	}
	.type-name {
		font-size: 11px;
		padding: 0px 4px 20px;
	}
}
@include phone {
 	.catalog-title {
		margin: 0;
		&__catalog-topic {
		    font-size: 20px;
		}
	}
	.catalog-list {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
    .collection { 
    	max-width: 60%;
    	flex-direction: column;
    	align-items: center;
    	margin-top: 15px;
	    &__type {
	    	width:90%;
		}
	}
	.type-name {
		font-size: 11px;
		padding: 0px 7px 20px;
	}
}
@include iphone-5 {
    .catalog-title {
		margin: 0;
		&__catalog-topic {
		    font-size: 20px;
		}
	}
	.catalog-list {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
    .collection { 
    	max-width: 67%;
    	flex-direction: column;
    	align-items: center;
    	margin-top: 15px;
	    &__type {
	    	width: 74%;
	    	img {
	    		width: 100%;
	        }
		}
	}
	.type-name {
		font-size: 10px;
	}
}

