@import './font';
@import './color';


/* ------------ variable --------------- */
html {
  scroll-behavior: smooth;
}

body, li {
	position: relative;
	font: {
		family: 'Nunito Sans', sans-serif;
		size: 16px;
		weight: $regular;
	}
	color: $blue-light;
}

.container {
	/* padding: 0; */
}


a {
	font: {
		family: 'Nunito Sans', sans-serif;
		size: 16px;
		weight: $bold;
	}	
	text-decoration: none;
	color: $blue-dark;
	&:hover {		
	    text-decoration: none;
	    color: $blue-light; 
	}
	/* &:visited {
		color: $blue-light;
	} */
	&:active {
		color: $blue-light;
	}
	&:focus {
			color: $blue-light;
		}

	/* &:alink {
			color: $blue-grey;
		} */	
}

ul {
	list-style: none;
}

h1 {
	font: {
			family: 'Archivo Narrow', sans-serif;
			size: 60px;
			weight: $light;
	}
	color: $white;
	line-height: 1.2;
    margin-bottom: 0;
}

h2 {
	font: {
		family: 'Judson', serif;
		size: 46px;
		weight: $regular;
	}
	line-height: 1.1;
	color: $purpur;	
}

h3 {
	font: {
		family: 'Nunito Sans', sans-serif;
		size: 24px;
		weight: $light;
	}
	color: $white;	
}

h6 {
	font: {
		family: 'Nunito Sans', sans-serif;
		size: 16px;
		weight: $regular;
	}
		color: $blue-light;
}

:active, :hover, :focus {
    outline: none;
    outline-offset: 0;
}

.title-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: 30px 0;
    &__title-topic {
		@extend h2;
        font-size: 40px;
        margin-bottom: 0;
    } 
    &__title-border {
    	width: 82px;
    	margin-top: 10px;
    	margin-bottom: 10px;
    	border-bottom: 1px solid $orange;
    }   
}

button {
	outline: none;
	background-color: $orange;
	border-width: 0;
	border-radius: 4px;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 25px;
	text-transform: uppercase;	
	color: $blue-dark;
	&:hover {
		background-color: $orange-light;
		transition: 1s;
	}
	&:active {
		outline: none;
		outline-offset: 0;
	}	
}

.fon {
	background-color: $purpur-extra-light;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    &:active {
		outline: none;
	}    
}

input {
	outline: none;
	font-family: 'Nunito Sans', sans-serif;
	text-transform: none;
	border-width: 0;
	border-radius: 4px;
	color: $orange;
	background-color: $white;
	font-size: 25px;			
	padding: 20px 62px;
	&:hover {
		color: $white;
		background-color: $orange;
		transition: 1s;
	}
	&:active {
		outline: none;
		outline-offset: 0;
	}					
}

.error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px;
	height: 100vh;
}

.error-page h3 {
	color: $purpur;
	font-weight: $regular;
}

.loading {
	text-transform: capitalize;
	text-align: center;
	margin-top: 3rem;
}

/* Title */
.section-title {
	text-align: center;
	margin-bottom: 4rem;
  }
  .section-title h4 {
	font-size: 2rem;
	letter-spacing: var(--mainSpacing);
	text-transform: capitalize;
	margin-bottom: 1rem;
  }
  .section-title div {
	width: 5rem;
	height: 5px;
	margin: 0 auto;
	background: var(--primaryColor);
  }
  /* end of Title */

/* productlist */
.productslist {
	padding: 5rem 0;
  }
  .productslist-center {
	width: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 30px;
  }
  
  @media screen and (min-width: 776px) {
	.productslist-center {
	  width: 90vw;
	}
  }
  @media screen and (min-width: 992px) {
	.productslist-center {
	  width: 95vw;
	  max-width: 1170px;
	}
  }
  /* end of productlist */

  /*  productFitler*/
.filter-container {
	padding: 5rem 0;
  }
  .filter-form {
	width: 60vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 40px;
  }
  .form-group {
	text-transform: capitalize;
  }
  .form-group label {
	display: block;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 0.5rem;
  }
  .form-control {
	width: 100%;
	background: transparent;
	font-size: 1rem;
  }
  .size-inputs {
	display: flex;
  }
  .size-input {
	width: 40%;
	padding: 0.2rem;
	border: 1px solid var(--mainBlack);
	border-radius: 0.3rem;
	margin-right: 0.3rem;
  }
  .product-extra label {
	display: inline-block;
	font-size: 0.8rem;
	margin-left: 0.5rem;
  }
  @media screen and (min-width: 776px) {
	.filter-form {
	  width: 70vw;
	}
  }
  @media screen and (min-width: 992px) {
	.filter-form {
	  width: 95vw;
	  max-width: 1170px;
	}
  }
  /* end of productFitler*/


@mixin television {
  @media (min-width: 1366px) and (max-width: 1439.98px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) and (max-width: 1365.98px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}  
@mixin tablet-mini {
  @media (min-width: 576px) and (max-width: 767.98px) {
    @content;
  }
}

@mixin phone {
  @media (min-width: 375px) and (max-width: 575.98px) {
    @content;
  }
}
@mixin iphone-5 {
  @media (min-width: 320px) and (max-width: 374.98px) {
    @content;
  }
}


/*@mixin phone-gorisontal {
	@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation : landscape)  {
   		@content;
	}
}*/